---
layout: base
---
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->


{% if page.header_img %}
<header class="intro-header" style="background-image: url('{{page.header_img}}')">
{% else %}
<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{page.title}}</h1>
                    <!-- <h2 class="subheading">Lorem Ipsum</h2> -->
                    <span class="meta">Posted by <a href="#">Alexander Ross</a> on {{ page.date | date: "%d %B %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-4141599655973760"
                 data-ad-slot="7238016739"
                 data-ad-format="auto"></ins>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {{content}}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <p>Read some more?</p>
              <ul>

                {% if page.previous %}
                <li><a rel="prev" href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>
                {% endif %}

                {% if page.next %}
                <li><a rel="next"href="{{ page.next.url }}">{{ page.next.title }}</a></li>
                {% endif %}
              </ul>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
</article>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'aross-blogg'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
